<html, class="no-js", lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="RRstar">
        <meta name="author" content="RRstar">
        <title> Rapidly Rotating Star Search Engine </title>
        <link href="{{ static_url("css/index.css") }}"
              type="text/css" rel="stylesheet">
        <link href="{{ static_url("css/normalize.css") }}"
              type="text/css" rel="stylesheet">
        <link href="{{ static_url("css/foundation.css") }}"
              type="text/css" rel="stylesheet">
        <link href="{{ static_url("css/formtable.css") }}"
              type="text/css" rel="stylesheet">
        
    </head>


    <body>
        
       {% include "topbar.html" %}   

         <div class="row">
            <div class="small-12 columns">
              <h1>Rapidly Rotating Star Calculator</h1>
            </div>
         </div>
         
         <div class="row">
            <div class="small-12 columns">

              <p> This is a test server for computing rapid rotating star calculations.

            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 large-6 medium-centered large-centered columns">

                <p> Input the Hipparcos number of the star in the Object box:
                <p> Example: HIP27321 or HIP 27321 or 27321

            </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 large-6 medium-centered large-centered columns">
          <form name='input' action='/' method='post'>
          <table border="0" id="form_table">
          <tr>
              <th width = "30%">Object &#8250;</th>
              <td>
                  <input type='text' name='find'/>
                  <span> Enter a valid HIP ID </span>
              </td>
          </tr>
          <tr>
<!--
              <th valign="top">FeH Prior &#8250;</th>
              <td>
                  <textarea type='text' name='mean' style = "width:110px"/></textarea><span>Enter the center value of your metalicity prior</span>
                  <textarea type='text' name='sigma'style= "width:110px"/></textarea><span>Enter the dispersion value of your metalicity prior</span>
              <td>
          </tr>
-->
              <th valign="top">FeH Prior &#8250;</th>
              <td>
                  <input type='text' name='mean' style = "width:110px"/> &plusmn;
                  <input type='text' name='sigma' style = "width:110px"/>
              <td>
          </tr>
          <tr>
              <th></th>
          <td>
          <input type='submit' value='search'/>
          <td>
          </tr>
          </table>
          <small class="error">
          Enter a valid HIP object identifier 
          </small>

        {% module xsrf_form_html() %}
    </form>
    </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
          <h2>Marginalized Posterior Probability Distributions</h2>
         {% raw outcome %}
      </div>
    </div>
    
    <div class = row>
          <div class="large-8 columns">
              {% raw canvas %}
          </div>
      </div>




     <div class = row>
          <div class="large-8 columns">
              <img src="/rrstar/static/images/gd.png"
              height = 100>
          </div>
      </div>


  <footer class="row">
  <div class="large-12 columns">
      <hr>
      <div class="small-12 large-7 columns">
          {% block pagefooternote %}
          <ul class="no-bullet left">
              <li> This server is based on the article
               <a href="http://www.arxiv.org">Tim Brandt & Chelsea X. Huang (2014) </a></li>
           </ul>
          <ul class="no-bullet left">
          <li>We thank Bhatti, W. for the template of this server. He wrote                   a beautiful website for <a href="http://phn3.astro.princeton.edu/astroph-coffee">Peyton Astroph-Cofee.</a></li> 
          </ul>

          {% end %}
      </div>
      <div class="small-12 large-5 columns">
          {% block pagefooterlinks %}

          <ul class="no-bullet right">
      <li>
      <a href="http://www.princeton.edu">
          <img src="/rrstar/static/images/logo.pdf">
      </a>
      </li>
  </ul>
  {% end %}
  </div>
  </div>


</body>
</html>
