<nav class="top-bar" data-topbar>

  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="/rrstar/">
          Rapid Rotating Star 
        </a>
      </h1>
    </li>

    <!-- activates the mobile menu -->
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>menu</span></a>
    </li>

  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li class="has-form">
        <a href="/rrstar/about" class="button radius expand">
          About
        </a>
      </li>
      <li class="has-form">
        <a href="/rrstar/data" class="button radius expand">
          Data Download
        </a>
      </li>
    </ul>

  </section>

</nav>

